In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\priya\\Desktop\\python coding prcatice'

In [25]:
import pandas as pd
df2 = df.to_csv(r'C:\Users\priya\Desktop\python coding prcatice\Dataset.csv')

In [28]:
df2 = pd.read_csv(r'C:\Users\priya\Desktop\python coding prcatice\Dataset.csv')
print(df2)

   Unnamed: 0 Name  age company
0           0    A   20    Info
1           1    B   80     TCS
2           2    C   50     TCS

In [37]:

df5 = pd.read_csv(r'C:\Users\priya\Desktop\python coding prcatice\sales.csv')

In [47]:
print(df5)

                           Region               Country   Item Type  \
0    Middle East and North Africa                 Libya   Cosmetics
1                   North America                Canada  Vegetables
2    Middle East and North Africa                 Libya   Baby Food
3                            Asia                 Japan      Cereal
4              Sub-Saharan Africa                  Chad      Fruits
..                            ...                   ...         ...
995  Middle East and North Africa            Azerbaijan      Snacks
996                        Europe               Georgia   Baby Food
997  Middle East and North Africa  United Arab Emirates  Vegetables
998                        Europe               Finland   Household
999                        Europe              Portugal      Cereal

    Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0         Offline              M  10/18/2014  686800706  10/31/2014
1          Online              M   11/7/2011  185941302   12/8/2011
2         Offline              C  10/31/2016  246222341   12/9/2016
3         Offline              C   4/10/2010  161442649   5/12/2010
4         Offline              H   8/16/2011  645713555   8/31/2011
..            ...            ...         ...        ...         ...
995       Offline              C   4/18/2010  534085166   4/25/2010
996       Offline              H    8/1/2011  590768182    9/7/2011
997        Online              C   5/12/2011  524363124   6/28/2011
998       Offline              L   1/25/2016  289606320   2/14/2016
999       Offline              C   4/10/2014  811546599    5/8/2014

     Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  \
0          8446      437.20     263.33     3692591.20  2224085.18
1          3018      154.06      90.93      464953.08   274426.74
2          1517      255.28     159.42      387259.76   241840.14
3          3322      205.70     117.11      683335.40   389039.42
4          9845        9.33       6.92       91853.85    68127.40
..          ...         ...        ...            ...         ...
995        6524      152.58      97.44      995431.92   635698.56
996         288      255.28     159.42       73520.64    45912.96
997        9556      154.06      90.93     1472197.36   868927.08
998        9801      668.27     502.54     6549714.27  4925394.54
999        3528      205.70     117.11      725709.60   413164.08

     Total Profit
0      1468506.02
1       190526.34
2       145419.62
3       294295.98
4        23726.45
..            ...
995     359733.36
996      27607.68
997     603270.28
998    1624319.73
999     312545.52

[1000 rows x 14 columns]

In [43]:
bank = pd.read_html(r'https://www.fdic.gov/bank/individual/failed/banklist.html')

In [44]:
bank[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
1,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
2,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
3,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
4,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
...,...,...,...,...,...,...
555,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
556,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
557,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
558,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
559,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

AttributeError: 'list' object has no attribute 'head'