In [5]:
import pandas as pd
from numpy.random import randn
import numpy as np

In [6]:
d = {'A':[1,np.nan,45],'B':[90,78.87,np.nan],'C':[44,np.nan,np.nan]}

In [8]:
df = pd.DataFrame(d)
df

      A      B     C
0   1.0  90.00  44.0
1   NaN  78.87   NaN
2  45.0    NaN   NaN

In [10]:
df.dropna(axis = 0)

     A     B     C
0  1.0  90.0  44.0

In [11]:
df.dropna(axis = 1)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [2]:
df.fillna(value = 30000,inplace=True)

NameError: name 'df' is not defined

In [6]:
import pandas as pd
from numpy.random import randn
import numpy as np
d = {'A':[1,np.nan,45],'B':[90,78.87,np.nan],'C':[44,np.nan,np.nan]}
df = pd.DataFrame(d)
df
df.fillna(value=df['A'].mean())

      A      B     C
0   1.0  90.00  44.0
1  23.0  78.87  23.0
2  45.0  23.00  23.0

In [8]:
df['C'].fillna(value=60000)

0       44.0
1    60000.0
2    60000.0
Name: C, dtype: float64

In [9]:
df

      A      B     C
0   1.0  90.00  44.0
1   NaN  78.87   NaN
2  45.0    NaN   NaN